body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow-x: hidden;
}



.navbar{
    background-color: rgb(69, 69, 129);
    overflow: hidden;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar .logo{
    float: left;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color:aquamarine;
    cursor: pointer;
}

.navbar .logo img{
    width: 50px;
    height: auto;
    margin-right: 5px;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: right;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: aquamarine;
    color: red;
}


.Search {
    float: right;
    display: flex;
    align-items: center;
    padding: 20px;
}

.Search input[type="text"] {
    padding: 8px;
    margin-left: 10px;
    background-color: white;
    color: yellow;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.Search button {
    margin-left: 5px;
    padding: 8px 12px;
    background-color:aquamarine;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Search button:hover {
    background-color: #777;
}


.contact-section {
    background-image: url(train.jpg);
    background-size: cover;
    background-position: center;
    padding: 300px 30px;
    color: black;
}

.contact-section h1 {
    font-size: 60px;
    margin: 0;
}

.contact-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    margin: 30px auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form button {
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: lightskyblue;
}